
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // A user can create their own document.
    // They can only read or update their own document afterwards.
    match /users/{userId} {
      allow read, update: if request.auth != null && request.auth.uid == userId;
      allow create: if request.auth != null;
    }

    match /clinics/{clinicId} {
      // Any authenticated user can create a clinic during sign up.
      // Only the owner (based on ownerEmail field) should be able to modify it later.
      // This rule needs to be improved for better security later.
      allow create: if request.auth != null;
      allow read, update: if request.auth != null && get(/databases/$(database)/documents/clinics/$(clinicId)).data.ownerEmail == request.auth.email;
    }
    
    match /doctors/{doctorId} {
      allow read;
      allow create, update, delete: if request.auth != null && get(/databases/$(database)/documents/users/$(request.auth.uid)).data.clinicId == resource.data.clinicId;
    }

    match /appointments/{appointmentId} {
      allow read;
      allow create, update, delete: if request.auth != null && get(/databases/$(database)/documents/users/$(request.auth.uid)).data.clinicId == resource.data.clinicId;
    }

    match /patients/{patientId} {
        allow read;
        allow create, update: if request.auth != null && get(/databases/$(database)/documents/users/$(request.auth.uid)).data.clinicId == resource.data.clinicId;
    }

    match /mobile-app/{credentialId} {
        allow create: if request.auth != null;
        allow read, update: if request.auth != null && get(/databases/$(database)/documents/users/$(request.auth.uid)).data.clinicId == resource.data.clinicId;
    }

    match /master-departments/{departmentId} {
      allow read;
    }
  }
}
