
rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isSignedIn() {
      return request.auth != null;
    }

    function isOwner(userId) {
      return request.auth.uid == userId;
    }

    function getClinicId(userId) {
      return get(/databases/$(database)/documents/users/$(userId)).data.clinicId;
    }

    function belongsToClinic(clinicId) {
      return isSignedIn() && getClinicId(request.auth.uid) == clinicId;
    }

    match /clinics/{clinicId} {
      allow read, update: if belongsToClinic(clinicId);
      allow create: if true;
    }

    match /users/{userId} {
      allow read, update: if isOwner(userId);
      allow create: if true;
    }

    match /clinics/{clinicId}/{subcollection}/{docId} {
      allow read, write, delete: if belongsToClinic(clinicId);
    }
  }
}
