
rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    // Allow public read access to all files
    match /{allPaths=**} {
      allow read;
    }

    // Allow authenticated users to write to their own clinic's directory for avatars
    match /doctor_avatars/{clinicId}/{allPaths=**} {
      allow write: if request.auth != null;
    }

    // Allow authenticated users to write to their own clinic's directory for other uploads
    match /clinics/{userId}/{allPaths=**} {
      allow write: if request.auth != null && request.auth.uid == userId;
    }
  }
}
